/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

.app-container {
  background-color: lightblue;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo-container {
  margin-right: 20px;
}

.logo {
  width: 100px;
  /* Adjust the width as needed */
  height: auto;
}

.App {
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.App h1 {
  margin-left: 40%;
}

.nav-menu {
  margin-right: 10%;
  margin-top: 5%;
}

.nav-menu ul {

  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-menu li {
  margin-right: 20px;
}

.nav-menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}